Flask==2.2.2                    # Základní webový framework
Flask-SQLAlchemy==3.0.2         # Práce s databází pomocí ORM
Flask-Login==0.6.2              # Přihlašování uživatelů
Flask-Admin==1.6.0              # Admin rozhraní pro správu dat
python-dotenv==1.0.0            # Načítání proměnných z .env
mysql-connector-python==8.0.33  # Připojení k MySQL (např. Workbench)
Werkzeug==2.2.2                 # Pomocné funkce (např. hashování hesel)
MarkupSafe==2.1.2               # Bezpečné vkládání HTML (např. obrázky v adminu)
SQLAlchemy<2.0                  # ORM základ – nutný pro Flask-SQLAlchemy
cloudinary==1.29.0              # Obrázky z inzerátu – ukládání do cloudu
Flask-WTF==1.1.1                # Bezpečné formuláře s CSRF ochranou
WTForms==3.1.2                  # Tvorba formulářových polí a validací
email_validator==2.1.1          # Ověření formátu e-mailu
Flask-Mail==0.9.1               # Odesílání e-mailů (formulář)
